/* ПАРТНЕРИ */
.partners {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;

  &__item:not(:first-child) {
    margin-left: 30px;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $mobile) {
      width: calc((100% - 2 * 30px) / 2);
    }

    @media screen and (min-width: $tablet) {
      width: calc((100% - 3 * 30px) / 3);
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 6 * 30px) / 6);
    }
  }
  border: 1px solid rgb(175, 177, 184);
  border-radius: 4px;
  color: $social-buttons-color;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &__item:hover,
  &__item:focus {
    color: $accent-color;
    border: 1px solid $accent-color;
  }

  &__logo {
    fill: currentColor;
  }
}
